@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1c1c1c;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 1rem auto;
    max-width: 400px;
    padding: 2rem;
    border: 2px solid #D4D4D2;
    border-radius: 10px;

}

.container h1 {
    color: #fff;
}

.container__screen {
    color: white;
    padding: 1.5rem 1rem;
    /* direction: rtl; */
    text-align: right;
    font-size: 2.5rem;
}

.container__screen--small {
    color: white;
    padding: 1rem;
    /* direction: rtl; */
    font-size: 1rem;
    text-align: right;
}

.container__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
    gap: 1rem;
    justify-items: center;
}

.btn {
    height: 60px;
    width: 60px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.btn:active {
    transform: scale(1);
}

.span_zero {
    grid-column: 1 /3;
    width: 100%;
}

.gray {
    background: #D4D4D2;
}

.orange {
    background: #FF9500;
    color: #fff;
}

.grey {
    background: #505050;
    color: #fff;
}

